	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/06/2016 04:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-back:before { content: "\f100"; }
.flaticon-birthday-cake:before { content: "\f101"; }
.flaticon-business:before { content: "\f102"; }
.flaticon-business-card-of-a-man-with-contact-info:before { content: "\f103"; }
.flaticon-circus:before { content: "\f104"; }
.flaticon-clothes:before { content: "\f105"; }
.flaticon-compass:before { content: "\f106"; }
.flaticon-compass-1:before { content: "\f107"; }
.flaticon-diploma:before { content: "\f108"; }
.flaticon-house:before { content: "\f109"; }
.flaticon-id-card:before { content: "\f10a"; }
.flaticon-mail-black-envelope-symbol:before { content: "\f10b"; }
.flaticon-present-outline:before { content: "\f10c"; }
.flaticon-sword:before { content: "\f10d"; }
.flaticon-swords:before { content: "\f10e"; }
.flaticon-technology:before { content: "\f10f"; }
.flaticon-tent:before { content: "\f110"; }
.flaticon-tent-1:before { content: "\f111"; }
.flaticon-tool:before { content: "\f112"; }